@import '../litten.less';

@component-cls: ~'@{litten-prefix}-stackPanel';

.@{component-cls} {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--row-reverse {
        flex-direction: row-reverse;
    }

    &--column {
        flex-direction: column;
    }

    &--column-reverse {
        flex-direction: column-reverse;
    }
}