html {
    font-family: Arial, 'Nunito Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

@litten-prefix: litten;

//blue
@blue-primary-main: #1976d2;
@blue-primary-alphaPoint5: #9ab9e5;
@blue-primary-alphaPoint04: #1975d20a;
@blue-primary-dark: #1565c0;
@blue-focus: #C2D6EF;

//red
@red-error-main: #d32f2f;
@red-error-dark: #c62828;
@red-error-light: #fef7f7;
@red-error-wave: #d32f2f80;
@red-error-focus: #f3bdbc;

//green
@green-success-main: #2e7d32;
@green-success-dark: #1b5e20;
@green-success-light: #f7fdf9;
@green-success-wave: #c1f0ca;
@green-success-focus: #11cb5f;

//orange
@orange-warning-main: #ed6c02;
@orange-warning-dark: #e65100;
@orange-warning-light: #fff3e0;
@orange-warning-wave: #ffb74d;
@orange-warning-focus: #ff9800;


//white
@white: #ffffff;

//gray
@gray-main: #e0e0e0;
@gray-dark: #a6a6a6;
@gray-deep: rgba(0, 0, 0, 0.6);

//radius
@radius4px: 4px;

//font-weight
@fontWeight-500: 500;
@fontWeight-700: 700;

.litten-svg {
    display: inline-block;
    fill: currentColor;
    user-select: none;
    font-size: inherit;
    width: 1em;
    height: 1em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}