html {
    font-family: Arial, 'Nunito Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

@litten-prefix: litten;

//blue
@blue-primary-main: rgb(25, 118, 210);
@blue-primary-dark: #1565c0;
@blue-primary-deepLight: rgba(25, 118, 210, 0.16);
@blue-primary-light: rgba(25, 118, 210, 0.04);
@blue-focus: rgba(25, 118, 210, 0.3);

//red
@red-error-main: rgba(211, 47, 47);
@red-error-dark: #c62828;
@red-error-deepLight: rgba(211, 47, 47, 0.16);
@red-error-light: rgba(211, 47, 47, 0.04);
@red-error-deep: rgba(211, 47, 47, 0.50);
@red-error-focus: rgba(211, 47, 47, 0.3);

//green
@green-success-main: rgba(46, 125, 50);
@green-success-dark: #1b5e20;
@green-success-deepLight: rgba(46, 125, 50, 0.16);
@green-success-light: rgba(46, 125, 50, 0.04);
@green-success-deep: rgba(46, 125, 50, 0.50);
@green-success-focus: rgba(46, 125, 50, 0.30);

//orange
@orange-warning-main: rgba(237, 108, 2);
@orange-warning-dark: #e65100;
@orange-warning-deepLight: rgba(237,108,2,0.16);
@orange-warning-light: rgba(237,108,2,0.04);;
@orange-warning-deep: rgba(237,108,2,0.50);
@orange-warning-focus: rgba(237,108,2,0.30);


//white
@white: #ffffff;

//gray
@gray-main: #e0e0e0;
@gray-light: #f5f5f5;
@gray-dark: #a6a6a6;
@gray-alphaPoint04: rgba(0, 0, 0, 0.04);
@gray-deep: rgba(0, 0, 0, 0.6);

//radius
@radius4px: 4px;

//font-weight
@fontWeight-500: 500;
@fontWeight-700: 700;

.litten-svg {
    display: inline-block;
    fill: currentColor;
    user-select: none;
    font-size: inherit;
    width: 1em;
    height: 1em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    transform: scale(1);
}